@import "tailwindcss";

@theme {
  --font-display: 'Montserrat', sans-serif;

  --color-primary-blue: #4D6C73;
  --color-primary-coral: #D8A566;
  --color-secondary-blue: #80ACBE;
  --color-secondary-blue-light: #81ADBE;
  --color-secondary-green: #29401C;

  --color-available: #2c9c9e;
  --color-reserved: #bb6830;
  --color-sold: #d8354b;
}

:root {
  color-scheme: light;
}

html {
  font-family: var(--font-display);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: pretty;
}

p, small, strong {
  text-wrap: balance;
}
