@import "tailwindcss";

@theme {
  --font-display: 'Montserrat', sans-serif;

  --color-primary-blue: #4D6C73;
  --color-primary-coral: #D8A566;
  --color-secondary-blue: #80ACBE;
  --color-secondary-blue-light: #81ADBE;
  --color-secondary-green: #29401C;
}