---
import MenuDesktop from './menu-desktop.astro'
import MenuMobile from './menu-mobile.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const SECTIONS = [
  { title: t('navbar.welcome'), href: '/#welcome' },
  { title: t('navbar.life-style'), href: '/#life-style' },
  { title: t('navbar.premises'), href: '/#premises' },
  { title: t('navbar.ubication'), href: '/#ubication' },
  { title: t('navbar.commons-areas'), href: '/#commons-areas' },
  { title: t('navbar.inventory'), href: '/#inventory' },
  { title: t('navbar.gallery'), href: '/#gallery' }
]
---

<nav id='navbar' class='z-20 bg-primary-blue' aria-hidden='true'>
  <div class='max-w-[1440px] mx-auto px-8 md:px-24'>
    <MenuMobile sections={SECTIONS} />
    <MenuDesktop sections={SECTIONS} />
  </div>
</nav>

<style is:global>
  #navbar {
    animation-name: nav-enter;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: entry 100% cover 100%;

    @media (min-width: 1280px) {
      animation-range: entry 10% cover 12%;
      position: sticky;
      top: 2rem;
    }
  }

  @keyframes nav-enter {
    to {
      background-color: color-mix(
        in srgb,
        var(--color-primary-blue) 80%,
        transparent
      );
      color: var(--color-secondary-color);
      backdrop-filter: blur(10px);
      min-width: none;
      margin-inline: auto;
      border-radius: 2rem;
      margin-inline: 2rem;
      box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
    }
  }

  #navbar li {
    animation-fill-mode: both;
    animation-timeline: scroll();
  }

  #navbar #navbar-welcome {
    animation-range: entry 10% exit 25%;
  }

  #navbar #navbar-life-style {
    animation-range: entry 25% exit 38%;
  }

  #navbar #navbar-premises {
    animation-range: entry 38% exit 46%;
  }

  #navbar #navbar-ubication {
    animation-range: entry 46% exit 54%;
  }

  #navbar #navbar-commons-areas {
    animation-range: entry 54% exit 62%;
  }

  #navbar #navbar-inventory {
    animation-range: entry 62% exit 74%;
  }

  #navbar #navbar-gallery {
    animation-range: entry 74% exit 90%;
  }
</style>
