---
import Section from './section.astro'
import CommonAreaItem from './common-area-item.astro'

import { imagesCommonsAreas } from '@/consts/images'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const commonsAreas = [
  {
    title: t('commons-areas.items.security-24-hrs.title'),
    description: t('commons-areas.items.security-24-hrs.description')
  },
  {
    title: t('commons-areas.items.co-working-area.title'),
    description: t('commons-areas.items.co-working-area.description')
  },
  {
    title: t('commons-areas.items.event-room.title'),
    description: t('commons-areas.items.event-room.description')
  },
  {
    title: t('commons-areas.items.gymnasium.title'),
    description: t('commons-areas.items.gymnasium.description')
  },
  {
    title: t('commons-areas.items.administration-office.title'),
    description: t('commons-areas.items.administration-office.description')
  }
]
---

<div class='w-full h-fit bg-primary-blue'>
  <Section class='flex flex-col items-center justify-center !bg-transparent'>
    <div class='px-8 md:px-24 py-20 w-full text-white'>
      <heading
        class='uppercase text-center h-fit flex flex-col items-center gap-12'
      >
        <h2 class='text-md sm:text-xl tracking-[1rem]'>
          {t('commons-areas.section')}
        </h2>
        <h1
          class='text-3xl sm:text-5xl tracking-[1rem] font-semibold leading-tight'
        >
          {t('commons-areas.title')}
        </h1>
      </heading>

      <div
        class='mt-12 w-full flex flex-row flex-wrap items-center justify-center gap-x-20 gap-y-10'
      >
        <div class='flex-1 min-w-[250px]'>
          <img
            src={imagesCommonsAreas.src}
            alt={t('common-areas.img.alt')}
            class='aspect-[7/9] lg:aspect-video object-cover rounded-xl'
          />
        </div>

        <ul class='flex-1 flex flex-col min-w-[250px] md:max-w-[30ch]'>
          {
            commonsAreas.map(({ title, description }, index) => (
              <CommonAreaItem
                index={index}
                title={title}
                description={description}
              />
            ))
          }

          <li class='mx-auto mt-12'>
            <a
              href='#'
              class='text-primary-coral underline cursor-pointer uppercase text-lg'
              >Cargar más</a
            >
          </li>
        </ul>
      </div>
    </div>
  </Section>
</div>
