---
import logo from '@/assets/logo.png'
import { imagesHero } from '@/consts/images'
import Carousel from './Carousel.astro'
---

<section
  class='relative w-screen h-screen overflow-hidden'
  data-images={JSON.stringify(imagesHero)}
>
  <Carousel images={imagesHero} title='Hero' />

  <header
    class='absolute top-0 flex flex-col items-center justify-center text-white w-full py-8'
  >
    <img id='background' src={logo.src} alt='Logo de Marasa' class='size-10' />
    <h1 class='uppercase text-5xl flex items-end'>
      Marasa<span class='pl-1 text-sm font-extralight'>&reg;</span>
    </h1>
    <h3 class='uppercase text-md font-extralight'>Wonderful living</h3>
  </header>
</section>
