---
import ModelItem from './model-item.astro'
---

<div class='flex flex-col md:hidden w-full max-w-sm gap-8'>
  <ModelItem
    model='coral-model'
    size='186.57 m2'
    price='$2,743,195 (MXN)'
    bedrooms='3'
  />
  <ModelItem
    model='caracol-model'
    size='186.57 m2'
    price='$2,743,195 (MXN)'
    bedrooms='3'
  />
  <ModelItem
    model='plus-model'
    size='186.57 m2'
    price='$2,743,195 (MXN)'
    bedrooms='3'
  />
</div>
