---
import Section from './section.astro'
import { imagesLifeStyle } from '@/consts/images'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Section class='flex flex-col items-center justify-center'>
  <div class='px-8 md:px-24 py-20 w-full'>
    <heading
      class='uppercase text-center mb-20 h-fit flex flex-col items-center gap-8'
    >
      <h2 class='text-lg sm:text-xl tracking-[1rem] text-primary-coral'>
        {t('life-style.section')}
      </h2>
      <h1
        class='text-3xl sm:text-5xl tracking-[1rem] font-semibold leading-tight text-primary-blue'
      >
        {t('life-style.title')}
      </h1>
    </heading>

    <p
      class='text-center text-xl font-light tracking-widest text-primary-blue text-pretty max-w-[80ch] mx-auto mb-20'
    >
      {t('life-style.paragraph')}
    </p>

    <img
      src={imagesLifeStyle.src}
      alt={t('life-style.image.alt')}
      class='w-full h-full aspect-[7/9] sm:aspect-[2/1] object-cover'
    />
  </div>
</Section>
