---
import OptionsItem from './options-item.astro'
import Section from '@/components/section.astro'

import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const routesOptions = [
  {
    label: t('options.inventory'),
    path: '#'
  },
  {
    label: t('options.magazine'),
    path: '#'
  }
]
---

<Section class='!min-h-fit my-16 px-8 md:px-24 w-full'>
  <ul
    class='w-full rounded-lg bg-primary-coral/10 px-12 py-10 flex flex-col md:flex-row md:flex-wrap gap-6 items-center justify-center'
  >
    {
      routesOptions.map(({ label, path }) => (
        <OptionsItem label={label} path={path} />
      ))
    }
  </ul>
</Section>
