---
import CaretRight from './icons/caret-right.astro'

export interface Props {
  label: string
  path: string
}

const { label, path } = Astro.props
---

<li
  class='w-full md:w-fit min-w-48 h-full rounded-sm border-2 border-primary-coral group overflow-hidden'
>
  <a href={path} target='_blank' class='relative block'>
    <div
      class='absolute inset-0 w-full h-full bg-primary-coral -translate-x-full group-hover:translate-x-0 transition-transform duration-300 ease-in-out z-0'
    >
    </div>

    <div
      class='flex-1 relative z-10 flex flex-row items-center justify-between gap-4 px-6 py-4'
    >
      <h4
        class='text-md font-semibold uppercase text-primary-coral transition-colors duration-300 group-hover:text-white'
      >
        {label}
      </h4>
      <CaretRight
        class='size-4 text-primary-coral transition-colors duration-300 group-hover:text-white'
      />
    </div>
  </a>
</li>
