---
import Ripple from './icons/ripple.astro'
import Section from './section.astro'

import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<div class='w-full h-fit bg-primary-blue/40'>
  <Section class='flex flex-col items-center justify-center !bg-transparent'>
    <div class='px-8 md:px-24 py-20 w-full text-primary-blue'>
      <heading
        class='uppercase text-center mb-20 h-fit flex flex-col items-center gap-8'
      >
        <h2 class='text-lg sm:text-xl tracking-[1rem]'>
          {t('premises.section')}
        </h2>
        <h1
          class='text-3xl sm:text-5xl tracking-[1rem] font-semibold leading-tight'
        >
          {t('premises.title')}
        </h1>
      </heading>

      <p
        class='text-center text-xl font-light tracking-widest text-pretty max-w-[80ch] mx-auto mb-20'
      >
        {t('premises.paragraph')}
      </p>

      <ul class='flex flex-row flex-wrap gap-8 justify-center items-center'>
        <li>
          <Ripple class='size-24' />
          <h5>{t('premises.items.nearby-beaches')}</h5>
        </li>
        <li>
          <Ripple class='size-24' />
          <h5>{t('premises.items.commercial-plazas')}</h5>
        </li>
        <li>
          <Ripple class='size-24' />
          <h5>{t('premises.items.green-areas')}</h5>
        </li>
      </ul>
    </div>
  </Section>
</div>

<style>
  ul {
    & li {
      @apply flex flex-col items-center justify-center text-center;
      flex: 1;
      min-width: 12rem;
      max-width: 15rem;
      font-size: large;
      font-weight: bold;
    }
  }
</style>
