---
import WhatsappIcon from './icons/whatsapp.astro'
---

<a
  href='https://wa.me/523221751155?text=Hola%2C%20vi%20informaci%C3%B3n%20sobre%20Marasa%20en%20su%20p%C3%A1gina%20web%20y%20me%20gustar%C3%ADa%20saber%20m%C3%A1s.%20%C2%BFMe%20podr%C3%ADan%20compartir%20m%C3%A1s%20detalles%2C%20por%20favor%3F'
  target='_blank'
  rel='noopener noreferrer'
  aria-label='Chatea con nosotros en WhatsApp'
  class='fixed bottom-4 right-4 z-50 p-3 bg-[#39d366] text-white rounded-full shadow-lg hover:scale-105 transition'
>
  <WhatsappIcon class='size-10' />
</a>
