---
import Section from './Section.astro'
---

<Section class='flex flex-col items-center justify-center'>
  <div class='px-8 md:px-24 py-20 w-full'>
    <heading
      class='uppercase text-center mb-20 h-fit flex flex-col items-center gap-8'
    >
      <h2 class='text-lg sm:text-xl tracking-[1rem] text-primary-coral'>
        Estilo de vida
      </h2>
      <h1
        class='text-3xl sm:text-5xl tracking-[1rem] font-semibold leading-tight text-primary-blue'
      >
        Vive al maximo
      </h1>
    </heading>

    <p
      class='text-center text-xl font-light tracking-widest text-primary-blue text-pretty max-w-[80ch] mx-auto mb-20'
    >
      En Marasa, cada día es una oportunidad para disfrutar al máximo. Vive
      rodeado de comodidad y exclusividad, con amenidades que complementan un
      estilo de vida activo y relajado. Desde un gimnasio equipado hasta una
      alberca con jacuzzi, aquí encuentras espacios pensados para compar tir
      momentos únicos con tu familia o amigos. Disfruta del acceso a áreas
      verdes, espacios coworking y rooftop, todo diseñado para quienes buscan
      calidad y distinción en cada detalle.
    </p>

    <img
      src='https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg'
      alt='Imagen de estilo de vida'
      class='w-full h-full aspect-[7/9] sm:aspect-[2/1] object-cover'
    />
  </div>
</Section>
