---
import { imagesUbication } from '@/consts/images'
---

<section id='ubication' class='w-full h-auto'>
  <img
    src={imagesUbication.src}
    alt={imagesUbication.alt}
    class='w-full h-full object-cover aspect-video object-right-top'
  />
</section>
