---
import { Image } from 'astro:assets'
import { imagesUbication } from '@/consts/images'
---

<section id='ubication' class='w-full h-auto'>
  <Image
    src={imagesUbication.src}
    alt={imagesUbication.alt}
    class='w-full h-full max-h-screen object-cover aspect-video object-right-top'
  />
</section>
