---
import Carousel from '@/components/carousel.astro'
import Section from '@/components/section.astro'

import { imagesWelcome } from '@/consts/images'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Section class='flex flex-col items-center justify-center'>
  <div class='px-8 md:px-24 w-full'>
    <heading
      class='uppercase text-center py-20 h-fit flex flex-col items-center gap-8'
    >
      <h2 class='text-md md:text-xl tracking-[1rem] text-primary-coral'>
        {t('welcome.section')}
      </h2>
      <h1
        class='text-2xl sm:text-3xl md:text-5xl tracking-[1rem] font-semibold leading-tight text-primary-blue'
      >
        {t('welcome.title')}
      </h1>
    </heading>

    <p
      class='text-center text-xl font-light tracking-widest text-primary-blue text-pretty max-w-[80ch] mx-auto'
    >
      {t('welcome.paragraph')}
    </p>
  </div>

  <div class='h-[85vh] w-full'>
    <Carousel
      images={imagesWelcome}
      title='Welcome'
      classWrapper='p-14 md:p-20 gap-28 md:gap-40'
      buttonsColor='var(--color-primary-blue)'
    />
  </div>
</Section>
