---
import Carousel from './carousel.astro'
import Section from './section.astro'

import { imagesWelcome } from '@/consts/images'
---

<Section class='flex flex-col items-center justify-center'>
  <div class='px-8 md:px-24 w-full'>
    <heading
      class='uppercase text-center py-20 h-fit flex flex-col items-center gap-8'
    >
      <h2 class='text-md md:text-xl tracking-[1rem] text-primary-coral'>
        Bienvenido a
      </h2>
      <h1
        class='text-2xl sm:text-3xl md:text-5xl tracking-[1rem] font-semibold leading-tight text-primary-blue'
      >
        Marasa wonderful living
      </h1>
    </heading>

    <p
      class='text-center text-xl font-light tracking-widest text-primary-blue text-pretty max-w-[80ch] mx-auto'
    >
      Un exclusivo desarrollo en Puerto Vallarta que redefine el concepto de
      hogar. Ubicado en una de las zonas más privilegiadas de la ciudad, ofrece
      una perfecta combinación de privacidad, comodidad y estilo de vida único.
    </p>
  </div>

  <div class='h-[85vh] w-full'>
    <Carousel
      images={imagesWelcome}
      title='Welcome'
      classWrapper='p-14 md:p-20 gap-28 md:gap-40'
      buttonsColor='var(--color-primary-blue)'
    />
  </div>
</Section>
